@import "./styles/common.css";
@import "./styles/certificates.css";
@import "./styles/analytics.css";
body {
  margin: 0;
  font-family: "Segoe UI", system-ui, sans-serif;
}

.app-layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

